.big-title {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.first-panel .content-container {
    border-radius: 15px 15px 0 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,.1);
    height: calc(100vh - 62px);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
}

.first-panel .content-container .title::before {
    position: absolute;
    top: 0;
    left: 49%;
    content: "";
    background: url(/static/media/path.52b3a55b.svg) no-repeat;
    width: 16px;
    height: 16px;
    transform: scale(.6);
}

.content-container .title p{
    line-height: 30px;
    text-align: center;
    color: #b6afbe;
    font-size: 14px;
    margin: 0;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.search-input {
    background: none;
    color: #5a6674;
    width: 11vw;
    height: 30px;
    border: none;
    appearance: none;
    outline: none;
}

.input-outline {
    width: 12vw;
    display: flex;
    justify-content: flex-end;
    border-radius: 40px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.input-outline:focus-within {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.search-icon {
    position: absolute;
    right: 30px;
    top: 6px;
    cursor: pointer;
}

.search-icon svg {
    fill: #f77683;
}

.first-panel .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    min-height: 10vh;
}

.first-panel .btn {
    height: 30px;
    width: 13vw;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 100;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, #f37556, #f35366);
    color: #fff;
    margin: 5px 0;
    cursor: pointer;
}

.first-panel .btn-delete {
    background: #fbfbfb!important;
    border: 1px solid #a3a3a3;
    color: #000;
}

/* 切换panel */
.first-panel .switch-panel {

}

.first-panel .panel-titles {
    display: flex;
    justify-content: space-evenly;
}

.first-panel .switch-title {
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.first-panel .switch-title::after{
    content:"";
    height:2px;
    width: 50%;
    display:block;
    position: absolute;
    bottom: -2px;
    left: 25%;
    transition: all 300ms ease-in-out;
}

.first-panel .switch-title.active::after{
    width:150%;
    left: -25%;
    background:linear-gradient(to right, #FFFFFF,#f77683,#FFFFFF);
}

/* panel-content */
.first-panel .panel-content {
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 38vh;
    border: 1px solid transparent;
}

.first-panel .panel-content.border {
    border: 1px solid #b6afbe;
}

.panel-content ::-webkit-scrollbar {
    height: 5px;
}
 
.panel-content ::-webkit-scrollbar-track {
    background-color: #fbfbfb;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
}

.dropdown-list ::-webkit-scrollbar {
  width: 4px;
}

.panel-content ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #b6afbe; 
}
    
/* for axis of blobs */
.custome-axis .domain {
    stroke: transparent;
}

.dropdown-container {
    width: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
    max-height: 10vh;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.dropdown-list {
    max-width: 100%;
    margin: 0 auto;
}