.big-title {
    margin: 0;
    height: 40px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 300;
    background: var(--main-bg-color);
}

.first-panel .content-container {
    border-radius: 15px 15px 0 0;
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
}

.first-panel .control-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.first-panel .control-panel .title {
    margin: 10px auto;
}

.first-panel .content-container .title::before {
    position: absolute; 
    top: 0;
    left: 49%;
    content: "";
    width: 16px;
    height: 16px;
    transform: scale(.6);
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    height: 5vh;
}

.search-input {
    background: none;
    color: #5a6674;
    width: 90%;
    height: 30px;
    border: none;
    appearance: none;
    outline: none;
}

.input-outline {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    border-radius: 40px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

                     

.search-icon {
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.search-icon svg {
    fill: var(--main-bg-color);
    cursor: pointer;
}

.first-panel .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.2rem;
}

.first-panel .btn {
    height: 4rem;
    width: 84%;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #979797;
    margin: 5px 0;
    cursor: pointer;

    text-transform: uppercase;
    font-size:14px;
    color:#574767;
    letter-spacing:1px;
    text-align:center;
    line-height:9.6px;
}


.first-panel .btn-delete {
    background: #fbfbfb!important;
    border: 1px solid #a3a3a3;
    color: #000;
}

/* 切换panel */
.switch-panel {
    display: flex;
    flex-direction: column;
    flex: 2;
    transition: all 300ms ease-in-out;
    overflow: auto;
    margin: 0.5rem 0;
}

.first-panel .panel-titles {
    display: flex;
    justify-content: space-evenly;
}

.first-panel .switch-title {
    cursor: pointer;
    position: relative;
}

.first-panel .switch-title::after{
    content:"";
    height:2px;
    width: 50%;
    display:block;
    position: absolute;
    bottom: -2px;
    left: 25%;
    transition: all 300ms ease-in-out;
}

.first-panel .switch-title.active {
    color:#706e6e;
    font-weight: bold;
}

.first-panel .switch-title.active::after{
    width:150%;
    left: -25%;
    background:linear-gradient(to right, #FFFFFF,#dacaa5,#FFFFFF);
}

/* panel-content */
.first-panel .panel-content {
    border-radius: 5px / 8px;
    margin: 9px 9px 0 11px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid transparent;
    flex: 1 1;
    align-items: center;
}

.first-panel .panel-content.border {
    border: 1px solid #919191;
    justify-content: stretch;
    max-height: 95%;
    overflow: auto;
    width: 83%;
    margin: 1rem auto;
}

.panel-content ::-webkit-scrollbar {
    height: 5px;
}
    
/* for axis of blobs */
.custome-axis .domain {
    stroke: transparent;
}

.dropdown-container {
    width: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
    max-height: 10vh;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.dropdown-list {
    max-width: 100%;
    margin: 0 auto;
}

.first-panel .item-container {
    display: flex;
    justify-content: flex-start;
}
/* .first-panel .item-container span::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    background: #444;
    right: 0;
    left: 65%;
} */

.first-panel .item-container span  {
    border-bottom: 1px solid #000;
}

.first-panel .item-container .first-item::after {
    left: 0px;
    width: 60%;
}

.first-panel .item-container .first-item {
    margin-right: 1rem;
    display: inline-block;
    width: 60%;
    min-width: 60%;
    border-bottom: 1px solid #000;
}

.first-panel .venn-container {
    margin: 0 auto 15px;
    width: 13vw;
    height: 10%;
    transition: height 300ms cubic-bezier(0.4, 0, 1, 1);
}

.first-panel .venn-container.show-venn {
    height: 29%;
    overflow: hidden;
    margin: 0 auto;
}

.first-panel .venn-container.show-venn .title {
    border-bottom-color: #fff;
}

.first-panel .venn-container .title {
    padding: 10px;
    border-style: solid;
    border-image: linear-gradient(to right, #e9e9e9,#919191,#e9e9e9)100% 1;
    border-width: 1px;
}

.first-panel .g-chart-title {
    text-align: center;
    margin: 1.5rem 0;
}

.first-panel .person-lists {
    padding: 0 1px;
    overflow: auto;
}

.first-panel .person-dropdown-container {
    overflow: hidden;
    flex: 1 1 0%;
    max-height: 85%;
    display: flex;
    flex-direction: column;
}

.person-info {
    text-align: left;
    padding: 4px 0;
    margin: 6px 10px 0 35px;
}

.two-column {
    display: grid;
    grid-template-columns: 60% 40%;
}

.two-column span {
    border-bottom: 1px solid #000;
    margin-right: 1rem;
}
/* .person-info:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #000;
    display:inline-block;
    left:0;
    bottom:0;
} */

/*  for textarea*/
.textarea-container {
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    min-height: 4rem;
    margin: 10px auto;
    padding: 10px 0;
}

.textarea-container .text {
    color: transparent;
    white-space: pre-wrap; 
    display: block;
    width: 95%;
    margin: 0 2%;
}

.textarea-container textarea{
    background: none;
    color: #5a6674;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 95%;
    position: absolute;
    top: 0;
    height: 100%;
    resize: none;
    margin: 2%;
}

.font-style {
	word-wrap: break-word;
    word-break: break-all;
    cursor: text;
    font-size: 1.4rem;
    color: #6e6e6e;
    line-height: 1.56rem;
    font-family: Helvetica;
}

.icon-container .search-icon {
    top: -3%;
    right: -5%;
    padding: 4px;
    background: rgba(255,255,255,0.4);
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.textarea-container:focus-within {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}