.second-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 24px);
}

.second-panel .legend-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.second-panel .legend-container img {
    width: 8vw;
    margin: 0 10px;
}

.second-panel .content-panel {
    flex-direction: column;
    display: flex;
    align-items: center;
    transition: all 300ms ease-in-out;
    overflow: hidden;
}

.second-panel .grid-line {
    display: flex;
    justify-content: center; 
    transition: padding 300ms ease-in-out;
    margin-top: -2%;
    width: 95%;
}

.second-panel .lines {
    position: absolute;
    top: 75px;
    bottom: 0;
}

.second-panel .mask {
    width: max-content;
}

.second-panel .flower-number .g-text {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 70px;
    top: -5px;
    line-height: 30px;
    font-size: 20px;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    background: #fff;
    color: #000;
    border: 1px solid #c7ad8c;
}

/** for flower **/
.second-panel .flower-active .g-text {
    background: #c7ad8c;                                                                                            
    color: #fff;
}

.second-panel .flower-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.second-panel .flower-title .g-text {
    font-size: 18px;
    color: #000;
    margin: 2px;
    font-weight: 400;
}

.second-panel .g-text.number {
    font-size: 20px;
}

.second-panel .g-text.number span {
    color: #945a18;
}

.second-panel .flower-divider {
    background: linear-gradient(to right, #e9e9e9,#919191,#e9e9e9);
    height: 1px;
    width: 80%;
}

.second-panel .btn-container {
    position: absolute;
    top: 0;
    right: 10px;
}

.second-panel .flower-overview {
    flex-direction: column;
    display: flex;
    overflow: auto;
    align-items: center;
    transition: height 200ms ease-in-out, 
        padding-left 300ms ease-in-out 200ms;
    width: 110%;
}

/* 滚动条 */
.grid-line::-webkit-scrollbar-track,
.flower-overview::-webkit-scrollbar-track {
    border: 1px solid #d3d3d3;
    background-color: #F5F5F5;
}

.flower-overview::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background-color: #F5F5F5;
}

.flower-overview::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;  
}

.second-panel .flower-detail {
    display: flex;
}

.second-panel .flower-detail .g-chart-title {
    text-align: center;
}

.second-panel .flower-detail svg {
    margin: -5vh 0 2px 0;
}
.connect-line {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: draw .5s linear 1 forwards;
}

.unset-line {
    stroke-dasharray: 8;
}

@keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
}

.second-panel .venn-container {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #e9e9e9,#919191,#e9e9e9)1 100%;
    border-right: 0;
    height: 80%;
    display: flex;
    align-items: center;
    margin: 20px 0;
}