.second-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 24px);
}

.second-panel .btn-container {
    display: flex;
    position: absolute;
    top: 36px;
    right: 0;
}

.second-panel .content-panel {
    overflow-y: auto;
    overflow-x: hidden;
}

.second-panel .grid-line {
    display: flex;
    justify-content: space-evenly;
}

.second-panel .lines {
    position: absolute;
    top: 75px;
    bottom: 0;
}

/* 滚动条 */
.content-panel::-webkit-scrollbar-track {
    border: 1px solid #d3d3d3;
    background-color: #F5F5F5;
}

.content-panel::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.content-panel::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;  
}