.second-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 24px);
}

.second-panel .legend-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    top: 30px;
}

.second-panel .legend-container img {
    width: 8vw;
    margin: 10px 5px 0 0;
}

.second-panel .content-panel {
    flex-direction: column;
    display: flex;
    overflow: auto;
    align-items: center;
    transition: all 300ms ease-in-out;
}

.second-panel .grid-line {
    /* padding-left: 50%; */
    display: flex;
    justify-content: center; 
    transition: padding 300ms ease-in-out;
}

.second-panel .lines {
    position: absolute;
    top: 75px;
    bottom: 0;
}

/* 滚动条 */
.grid-line:-webkit-scrollbar-track,
.content-panel::-webkit-scrollbar-track {
    border: 1px solid #d3d3d3;
    background-color: #F5F5F5;
}

.grid-line::-webkit-scrollbar ,
.content-panel::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #F5F5F5;
}

.grid-line::-webkit-scrollbar-thumb ,
.content-panel::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;  
}

.second-panel .mask {
    width: max-content;
}

.second-panel .flower-number .g-text {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 70px;
    top: -5px;
    line-height: 30px;
    font-size: 20px;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    background: #fff;
    color: #000;
    border: 1px solid #eba3ad;
}

/** for flower **/
.second-panel .flower-active .g-text {
    background: #eba3ad;                                                                                            
    color: #fff;
}

.second-panel .flower-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.second-panel .flower-divider {
    background: linear-gradient(to right, #e9e9e9,#919191,#e9e9e9);
    height: 1px;
    width: 80%;
}

.second-panel .btn-container {
    position: absolute;
    top: 0;
    right: 10px;
}