.fourth-panel {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 24px);
  user-select: none;
}
.fourth-panel .timeLine-view{
  height: 33vh;
  border-bottom: solid  #ebebeb 5px;
}
.fourth-panel .lower-charts{
  display: flex;
  overflow: hidden;
  height: 59vh;
}
.fourth-panel .left-charts{
  width: 50%;
}
.fourth-panel .select-list{
  flex : 1;
  width: 47%;
  height: 100%;
  border-left: solid  #ebebeb 5px;
}

.fourth-panel .matrix-view{
  height: 50%;
  border-bottom: solid  #ebebeb 5px;
}