.fourth-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 24px);
  /* background-color: springgreen; */
}
.fourth-panel .timeLine-view{
  position: relative;
  height: 30%;
  /* background-color: red; */
  /* border:0 0 3px 0; */
  border-bottom: solid  #ebebeb 5px;
}
.fourth-panel .lower-charts{
  display: inline-block;
  position: relative;
  height: 70%;
  /* background-color: aquamarine; */
}
.fourth-panel .left-charts{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 57%;
  height: 100%;
}
.fourth-panel .select-list{
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 100%;
  border-left: solid  #ebebeb 5px;
  /* background-color: rgb(179, 253, 40); */
}

.fourth-panel .matrix-view{
  position: relative;
  height: 50%;
  width: 100%;
  border-bottom: solid  #ebebeb 5px;
  /* background-color: seagreen; */
}
.fourth-panel .map-view{
  height: 50%;
  width: 100%;
  overflow: hidden;
}

