.fourth-panel {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 24px);
  user-select: none;
}

.fourth-panel .content-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.content-panel .box{
  box-sizing: border-box;
  height: 34%;
  border-top: 5px solid #eaeaea;
}

.content-panel .box:first-child {
  border: none;
}