.listItem-out{
  margin-top:4px;
  margin-bottom: 5px;
  margin-left:8%;
  margin-right:4%;
  margin: black;
  position: relative;
  width: 88%;
  /* overflow: hidden; */
}

.listItem-out .listItem-in{
  font-size: 6px;
  /* transform: scale(0.9); */
  text-align: center;
  border-bottom: solid 1px;
  padding-bottom: 4px;
  display: inline-block;
  margin-right:2%;
  overflow: hidden;
}

.listItem-in .textItem{ 
  width: 90%;
  text-indent: 0;
  margin-left:-2px;
  margin-right:-2px;
  /* padding:0; */
  /* margin:0; */
  font-size: 12px;
  transform: scale(0.75);
  white-space: nowrap;
}

.listItem-out .listFirst{
  width:11% ;
}

.listItem-out .listSecond{
  width:11% ;
}

.listItem-out .listThird{
  width:22% ;
}

.listItem-out .listFourth{
  width:22% ;
}

.listItem-out .listFifth{
  width:24% ;
}
.selectList-container{
  height:95%;
  overflow-y: scroll;
  overflow-x:hidden;
}
/* 滚动条 */
.selectList-container::-webkit-scrollbar-track {
  border: 1px solid #d3d3d3;
  background-color: #F5F5F5;
}

.selectList-container::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

.selectList-container::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;  
}

