.selected-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.selected-panel li {
  font-size: 12px;
}

.selected-panel .divider {
  font-size: 16px;
  font-weight: 200;
  line-height: 30px;
}

.selected-panel .divider p {
  margin: 0;
  font-size: 14px;
}

.selected-panel .divider::before,
.selected-panel .divider::after {
  position: absolute;
  content: "";
  width: 3vw;
  height: 1px;
  background: #333;
  top: 15px;
}

.selected-panel .divider::before {
  left: 1vw;
}

.selected-panel .divider::after {
  right: 1vw;
}

.selected-panel .dropdown {
  list-style: none;
  position: relative;
  border: 2px solid #e5e5e5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 90%;
  height: 4vh;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.selected-panel .dropdown__label {
  position: absolute;
  top: -9px;
  left: 15px;
  background: #fff;
  color: #444;
  font-size: 0.8em;
}

.selected-panel .dropdown__arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transition: transform 0.2s linear;
}

.selected-panel .dropdown__arrow.expanded {
  transform: rotate(-180deg);
}

 .dropdown__list {
  width: 100%;
  position: absolute;
  left: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9),
    max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.dropdown__list-container {
  position: relative;
  max-height: 136px;
  overflow: auto;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown__list-item {
  font-family: Lato, sans-serif;
  color: #444444;
  padding: 0 10px;
  transition: background-color 0.1s linear, color 0.1s linear;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #e5e5e5;
  height: 4vh;
  line-height: 4vh;
  display: flex;
  align-items: center;
}

.dropdown__list-item:first-child {
  margin-top: 2px;
}

.person-dropdown  .item-container{
  /* content: '';
  width: 90%;
  height: 1px;
  position: absolute;
  background: #444;
  top: 90%; */
  position: relative;
}

.person-dropdown.dropdown__list-item:hover,
.person-dropdown.dropdown__list-item:focus {
  background-color: #eee;
  color: #000;
}

.person-dropdown.dropdown__list-item {
  background: #fff;
}

.dropdown__list-item:hover,
.dropdown__list-item:focus {
  background-color: #a3a3a3;
  color: white;
}

.dropdown__container {
  display: flex;
}
.dropdown__selected {
  font-family: Lato, sans-serif;
  color: #444444;
  margin-left: 25px;
  list-style-position: inside;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 4vh;
  line-height: 4vh;
  width: 90%;
}

.dropdown__selected::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../../assets/data.svg") no-repeat;
  z-index: 1;
  bottom: -7px;
  left: 4px;
  height: 4vh;
  width: 18px;
}

.dropdown__selected:focus {
  outline: 1px solid #acacac;
}

.dropdown__selected .icon {
  font-size: 14px;
  margin: 1px;
  border: 1px solid #acacac;
  border-radius: 2px;
  padding: 2px 12px 2px 2px;
  position: relative;
}

.dropdown__selected .icon::after {
  content: '×';
  color: #333;
  font-size: 10px;
  top: 0;
  right: 0;
  padding: 0;
  width: 11px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  position: absolute;
}

.selected-panel .open {
  opacity: 1;
  overflow: auto;
  max-height: 100%;
  z-index: 2;
  position: relative;
}

.selected-panel .dropdown__mask {
  height: 24vh;
  position: absolute;
  top: 0;
  width: 100%;
}

/* ---begin---: control panel的checkbox */
.panel-content input[type=checkbox] {
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.panel-content input[type=checkbox]:before {
  content: "";
  height: 5px;
  width: 5px;
  padding: 3px;
  border: 1px solid #aaa;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1px;
  left: -1px;
}
.panel-content .dropdown__list-item input[type=checkbox]:checked:before {
  content: "✔";
  font-size: 12px;
  color: #f77683;
  
}
.panel-content input[type=checkbox]:hover:before {
  border: 1px solid #f77683;
}
/* ---end---: control panel的checkbox */

/* for date Panel */
.date-panel .dropdown__selected {
  display: flex;
}

.date-panel .range-block {
  width: 32%;
  position: relative;
}

.date-panel .range-divider {
  margin: 0 15px;
}

.date-panel .range-block input {
  display: inline-block;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 0;
  right: 0;
  font-size: 16px;
  border: none;
  width: 100%;
}

.date-panel .range-block input:focus,
.date-panel .range-block input:active  {
  border-bottom: 1px solid #a3a3a3;
  outline: none;
}

.dropdown-input {
  outline: none;
  border: none;
  width: 90%;
}

.dropdown-icons {
  height: 4vh;
  width: 75%;
  overflow-y: hidden;
  overflow-x: auto;
  position: absolute;
  top: 0;
}

/** for person*/
/* .person-dropdown .item-container span {
  border-bottom: 1px solid #000;
} */

.group-title {
  text-align: left;
  margin: 10px;
  background: #eee;
  padding: 5px 0;
}

.svg-badge {
  width: 17%;
  height: 4vh;
}

.ReactVirtualized__Grid__innerScrollContainer {
  height: 100%;
}