.chart-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.topic-buttons{
  position:absolute;
  width: 75%;
  right:5px;
  top:0px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  z-index: 10;
}


.topic-buttons .btn-container{
  display: flex;
}

.topicViewChart-container{
  position: relative;
  width: 100%;
  height: 100%;
}


.slider_space{
  margin:0;
  padding :0;
  z-index: 10;
  position: absolute;
  overflow: hidden;
  left:12%;
  top:0px;
  width: 15px;
  height: 100%;
  /* background-color: tomato; */
}
