.third-panel {
  display: flex; 
  flex-direction: column;
  position: relative;
  height: calc(100vh - 24px);
  user-select: none;
  overflow: hidden;
  justify-content: stretch;
}

.third-panel .topicView-panel {
  flex: 1;
}

.third-panel .third-footer-panel{
  height: 33vh;
}