.third-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 24px);
}

.third-panel .topicView-panel{
  position: relative;
  height: 60%;
}
.third-panel .chart-panel{
  display: inline-block;
  position: relative;
  height: 95%;
  width: 90%;
}
.third-panel .btn-container{
  width:35px;
  display: inline-block;
  vertical-align: top;
}
.third-panel .xxxx-view{

  display: inline-block;
  vertical-align: top;
  height: 35%;
}