.chart-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.topic-view-container {
  display: flex;
  flex-direction: column;
  position: static;
}

.chart-wrapper .title{
  position: relative;
  font-weight: bold ;
  color:#665f5f;
  font-size: 14px;
  margin-bottom: 5px;
  left:18px;
  top:5px; 
}

.topic-view-container .g-chart-title{
  margin: 10px 1em;
}

.topic-buttons{
  display: flex;
}

.reactLeaf_image{
  cursor: pointer;
}

.topic-buttons .mButtonContainer{
  display: flex;

}
.topic-buttons .topic-apply{
  display: flex;
  /* height: 18px; */
}

.slider_space{
  margin:0;
  padding :0;
  z-index: 10;
  position: absolute;
  overflow: visible;
  left:12%;
  top:0px;
  width: 15px;
  height: 100%;
  /* background-color: tomato; */
}

.topicView-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.chart-wrapper .feature-title{
  margin-top:40px;
  position: relative;
  font-weight: bold ;
  color:#665f5f;
  font-size: 14px;
  left:3%;
  width: 30%;
  margin-bottom: 5px;
  /* top:5px; */
}

.brush-btn-container{
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 12px;
}

.brush-btn-container .circle-btn img{
  width: 20px;
  height: 20px;
}

/** 这几个按钮不完全一样大*/
.brush-btn-container .circle-btn:nth-child(1) img {
  height: auto;
  width: 22px;
}

.brush-btn-container .circle-btn:nth-child(2) img {
  height: 24px;
  width: 22px;
}

.brush-btn-container .circle-btn:nth-child(3) img {
  height: 21px;
  width: 21px;
  transform: scale(0.99);
}

.rowSlider-container{
  height: 18px;
  display: flex;
  margin: 8px 10px;
}

.rowSlider-container .g-text {
  font-size: 12px;
  line-height: 18px;
}
#rightRatio{
  width: 3%;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}
.topicView-label-container{
  display: flex;
  position: absolute;
  right: 10px;
  top: 48px;
  /* flex-direction: column; */
}

.topicView-label-container svg{
  margin: 0 8px;
}
.topic-leaf-label{
  display: flex;
  align-items: center;
  margin: 0px 2px;
}

.topic-leaf-label .g-text {
  margin: 0;
  line-height: 15px;
  font-size: 12px;
}




.topicViewChart-container{
  box-sizing: content-box;
  position: relative;
  margin-top:5px;
  margin-left: 3%;
  margin-right: 3%;
  /* padding:0px 10px 10px 10px; */
  width: 94%;
  height: 90%;
}

.topicTreeMap-svg{
  overflow: visible;
}
/* 滚动条 */
/*
.topicViewChart-container::-webkit-scrollbar-track {
  border: 1px solid #d3d3d3;
  background-color: #F5F5F5;
}

.topicViewChart-container::-webkit-scrollbar {
  height:4px;
  width: 4px;
  background-color: #F5F5F5;
}

.topicViewChart-container::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;  
}
*/
.foreign-rect-header{
  height:60px;

}

.rect-header{
  background :#cc7a69;
  width :"100%";
}

.rect-header-content{
  font-size: 12px;
  transform: scale(0.85);
  color: white;
  margin: 0;
}