.time_mark_line{
  stroke-width: 1.5;
}

.time_mark_line:hover{
  stroke-width: 3;
  stroke:yellow;
}

.timeLine-container{
  position: relative;
  /* border:solid 0.1px; */
  margin-left: 20px;
  margin-right: 1rem;
  /* width: 100%; */
  flex:1;
  height: 73%;
  overflow-x: visible;
  overflow-y: auto; 
}
.timeLine_underLabel{
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  margin-right: 1rem;
  /* width: 100%; */
  flex:1;
  height: 13%;
}

.timeline-leaf-label{
  position: absolute;
  right: 30px;
  top: 17px;
  display: flex;
  align-items:flex-start ;
}

.timeline-leaf-label .g-text{
  font-size: 12px;
  margin: 0 5px;
}

.timeLine-svg{
  overflow: visible;
}

/* .timeline-clear{
  position:absolute;
  right:20px;
  top:5px;
} */

/* 滚动条 */
.timeLine-container::-webkit-scrollbar-track {
  border: 1px solid #d3d3d3;
  background-color: #F5F5F5;
}

.timeLine-container::-webkit-scrollbar {
  height:4px;
  width: 4px;
  background-color: #F5F5F5;
}

.timeLine-container::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;  
}