.time_mark_line{
  stroke-width: 1.5;
}

.time_mark_line:hover{
  stroke-width: 3;
  stroke:yellow;
}

.timeLine-container{
  position: relative;
  /* border:solid 0.1px; */
  margin-left: 20px;
  margin-right: 10px;
  /* width: 100%; */
  flex:1;
  height: 77%;
  overflow-x: hidden;
  overflow-y: auto; 
}
.timeLine_underLabel{
  overflow: hidden;
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
  /* width: 100%; */
  flex:1;
  height: 13%;
}

.timeline-leaf-label{
  position: absolute;
  right:40px;
  top:5px;
}

.timeline-clear{
  position:absolute;
  right:20px;
  top:5px;
}

/* 滚动条 */
.timeLine-container::-webkit-scrollbar-track {
  border: 1px solid #d3d3d3;
  background-color: #F5F5F5;
}

.timeLine-container::-webkit-scrollbar {
  height:4px;
  width: 4px;
  background-color: #F5F5F5;
}

.timeLine-container::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;  
}