.App {
  display: grid;
  grid-template-columns: 15% 25% 25% auto;
  grid-template-rows: calc(100vh - 22px);

  margin: 8px;
  border: 3px solid #d3d3d3;
}

.panel {
  background: #fff;
  margin: 0 3px;
}