.geomap {
    position: relative;
    overflow: hidden;
}

.title {
    font-size: 14px;
    margin-top:5px;
    margin-left: 20px;
    margin-right:20px;
}

.geomap .legend {
    position: absolute;
    top: 35px;
    left: 15px;
}

.geomap .container {
    padding: 10px;
}