.geomap {
    position: relative;
}

.geomap .legend {
    position: absolute;
    top: 35px;
    left: 15px;
    z-index: 1;
}

.geomap .container {
    padding: 10px;
}

.mapView-label-container{
    position: absolute;
    right:30px;
    top: 0.6rem;
    /* width: 50%; */
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.mapView-label-container .mapView-label svg{
    /* padding: 2px 0; */
}

.mapView-label-container .detail-clear {
    position: static;
}

.mapView-label-image{
    /* width: 40px; */
}

.mapView-label-container .g-text {
    margin: 0 5px;
    line-height: 20px;
}